@import '../../sassStyles/_mixins.scss';
@import '../../sassStyles/_variables.scss';

.ico {
  padding: 1px;
  color: $addColor;
  background-color: $accentColor;
  @include font(25px, 600, 0px);
  transition: all .2s linear;

  &:hover {
    background-color: #000;
  }
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 12px;
  padding-bottom: 20px;
  column-gap: 25px;
  border-bottom: 1px solid #333;
}

.list {
  display: inline-flex;
  column-gap: 20px;
}

@media screen and (max-width: 680px) {
  .list {
    display: none;
  }
}

.link {
  color: $addColor;
  transition: color .2s linear;
  @include font();

  &.active {
    color: $accentColor;
  }

  &:hover:not(.active) {
    color: #fff;
  } 
}

.login {
  color: $accentColor;
  cursor: pointer;
  transition: color .3s linear;

  &:hover {
    color: #fff;
  }
}