@import '../sassStyles/_mixins.scss';
@import '../sassStyles/_variables.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Sans, Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: $addColor;
  background-color: $primary1Color;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
