@mixin font($size: 15px, $weight: 400, $height: $size) {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    letter-spacing: .5px;
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}
