@import '../../sassStyles/_variables.scss';
@import '../../sassStyles/_mixins.scss';

.poster {
  padding-top: 40px;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 7px;
}

.input {
  padding: 10px 15px;
  width: 100%;
  max-width: 300px;
  background-color: $accentBgColor;
  color: $addColor;
  border: none;
  border-radius: 3px;
  @include font(16px);
  
  &:focus {
    border: none;
    outline: none;
  }
}

.button {
  position: relative;
  padding: 5px 13px;
  max-width: 200px;
  width: 100%;
  color: $addColor;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in;
  cursor: pointer;
  background: $accentColor;
  @include font(13px, 600);

  &:hover {
    background: $addColor;
    color: $addBgColor;
  }
}

.btnsRow {
  display: flex;
  column-gap: 10px;
}
